# **Объединим данные, полученные с Tripadvisor и Yelp в один датасет**

In [1]:
from google.colab import files
uploaded = files.upload()

Saving yelp_data_rest.csv to yelp_data_rest.csv
Saving tripadvisor_data_rest (2).csv to tripadvisor_data_rest (2).csv

In [2]:
import pandas as pd

In [5]:
tripadvisor_data_rest = pd.read_csv('tripadvisor_data_rest (2).csv')
tripadvisor_data_rest.columns

Index(['id', 'name', 'reviews', 'rating', 'price_range_usd', 'is_sponsored',
       'latitude', 'longitude', 'has_delivery', 'is_premium', 'cuisines',
       'reviews_per_rating', 'diets', 'dining_options'],
      dtype='object')

In [6]:
yelp_data_rest = pd.read_csv('yelp_data_rest.csv')
yelp_data_rest.columns

Index(['id', 'alias', 'name', 'website', 'latitude', 'longitude',
       'business_page_link', 'categories', 'rating', 'review_count',
       'price_range', 'photo', 'photos_page_link', 'phone', 'country',
       'neighborhoods', 'yelp_guaranteed', 'address', 'owner_name',
       'owner_biography', 'operation_hours', 'menu_url', 'yelp_menu'],
      dtype='object')

In [ ]:
# нет в yelp
'is_sponsored'
'has_delivery'
'is_premium'
'reviews_per_rating'
'diets'
'dining_options'

Оставляем в Yelp только те столбцы, которые совпадают по седержанию с Tripadvisor

In [11]:
yelp_data_rest_act = yelp_data_rest[['id', 'name', 'review_count', 'rating', 'price_range',
                                    'latitude', 'longitude', 'categories']]
yelp_data_rest_act

,id,name,review_count,rating,price_range,latitude,longitude,categories
0,Gyus9t3spoc1Ymc-BChRFw,Cahoots Bar,137,4.5,££,51.512542,-0.139100,"[{'title': 'Bars', 'url': 'https://yelp.co.uk/..."
1,mfUfKa3Y_yzvROmFU59VuA,The Library Bar,24,4.9,£££,51.502385,-0.152543,"[{'title': 'Wine Bars', 'url': 'https://yelp.c..."
2,WPiiGyBmmLVPAOnvdQAJGQ,The Vault,15,4.5,NaN,51.514745,-0.131223,"[{'title': 'Speakeasies', 'url': 'https://yelp..."
3,ZEoJSP5I1H16ekbiJjM2Cw,The Blind Pig,70,4.4,££,51.513827,-0.136728,"[{'title': 'Cocktail Bars', 'url': 'https://ye..."
4,ix9s2bJUR8LMz_73dJY3AA,Mr Fogg’s Society of Exploration,44,4.7,NaN,51.509821,-0.123695,"[{'title': 'Cocktail Bars', 'url': 'https://ye..."
...,...,...,...,...,...,...,...,...
438,MF6Xwxep-fx_WfjpR-hmRQ,The Quince Tree,22,4.4,£££,51.522522,-0.184909,"[{'title': 'Cafes', 'url': 'https://yelp.co.uk..."
439,V4RBUciS7AjpqkFVMtnpAQ,CLAW,5,4.6,£,51.512658,-0.136573,"[{'title': 'Seafood', 'url': 'https://yelp.co...."
440,nkI2QsxFA4eDf2iplUDpkw,Flying Horse,11,3.9,££,51.516510,-0.130739,"[{'title': 'Pubs', 'url': 'https://yelp.co.uk/..."
441,MhTjD-ikP48Uqe9LascWPg,Fitous Thai Restaurant,8,4.3,£,51.522057,-0.226599,"[{'title': 'Thai', 'url': 'https://yelp.co.uk/..."
442,rkcEjJ3uvbL40Wd-Xufsdg,Don Pepe,6,4.3,NaN,51.523600,-0.174362,"[{'title': 'Spanish', 'url': 'https://yelp.co...."

In [12]:
tripadvisor_data_rest = tripadvisor_data_rest.rename(columns={'price_range_usd': 'price_range'}) # не будем указывать валюту

In [13]:
yelp_data_rest_act = yelp_data_rest_act.rename(columns={'review_count': 'reviews', 'categories': 'cuisines'}) # переименовываем столбцы, чтобы совпадали с Tripadvisor

**Объединяем датасеты**

In [14]:
tripadvisor_yelp_data = pd.concat([tripadvisor_data_rest, yelp_data_rest_act], ignore_index=True)
tripadvisor_yelp_data

,id,name,reviews,rating,price_range,is_sponsored,latitude,longitude,has_delivery,is_premium,cuisines,reviews_per_rating,diets,dining_options
0,2418348,Leicester Arms,602,4.5,$$ - $$$,True,51.510597,-0.137677,False,False,"['British', 'Pub']","{'1': 30, '2': 23, '3': 51, '4': 156, '5': 342}","['Vegetarian friendly', 'Gluten free options']","['Reservations', 'Seating', 'Street Parking', ..."
1,26452946,Swiss Butter,182,4.0,$$ - $$$,True,51.520620,-0.122808,False,True,"['French', 'Steakhouse']","{'1': 21, '2': 15, '3': 14, '4': 22, '5': 110}",[],"['Seating', 'Wheelchair Accessible', 'Serves A..."
2,25151198,Florattica Rooftop Bar London,316,4.5,$$ - $$$,False,51.512955,-0.075292,False,True,"['Bar', 'European', 'British', 'Healthy', 'Din...","{'1': 15, '2': 4, '3': 7, '4': 11, '5': 279}",[],"['Reservations', 'Outdoor Seating', 'Seating',..."
3,2213156,The Black Dog Freehouse,733,4.5,$$ - $$$,False,51.488724,-0.120889,False,False,"['Bar', 'British', 'Pub']","{'1': 19, '2': 23, '3': 47, '4': 216, '5': 428}","['Vegetarian friendly', 'Vegan options', 'Glut...","['Reservations', 'Outdoor Seating', 'Seating',..."
4,27930238,Fitz's Brasserie,48,5.0,$$ - $$$,False,51.522408,-0.124933,False,False,"['Steakhouse', 'British', 'Contemporary']","{'1': 0, '2': 1, '3': 1, '4': 2, '5': 44}",['Vegetarian friendly'],"['Reservations', 'Seating', 'Wheelchair Access..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10436,MF6Xwxep-fx_WfjpR-hmRQ,The Quince Tree,22,4.4,£££,NaN,51.522522,-0.184909,NaN,NaN,"[{'title': 'Cafes', 'url': 'https://yelp.co.uk...",NaN,NaN,NaN
10437,V4RBUciS7AjpqkFVMtnpAQ,CLAW,5,4.6,£,NaN,51.512658,-0.136573,NaN,NaN,"[{'title': 'Seafood', 'url': 'https://yelp.co....",NaN,NaN,NaN
10438,nkI2QsxFA4eDf2iplUDpkw,Flying Horse,11,3.9,££,NaN,51.516510,-0.130739,NaN,NaN,"[{'title': 'Pubs', 'url': 'https://yelp.co.uk/...",NaN,NaN,NaN
10439,MhTjD-ikP48Uqe9LascWPg,Fitous Thai Restaurant,8,4.3,£,NaN,51.522057,-0.226599,NaN,NaN,"[{'title': 'Thai', 'url': 'https://yelp.co.uk/...",NaN,NaN,NaN
10440,rkcEjJ3uvbL40Wd-Xufsdg,Don Pepe,6,4.3,NaN,NaN,51.523600,-0.174362,NaN,NaN,"[{'title': 'Spanish', 'url': 'https://yelp.co....",NaN,NaN,NaN

Найдем дубликаты по координатам и наименованию:

In [16]:
tripadvisor_yelp_data[['name', 'latitude', 'longitude']].duplicated().sum()

2

In [25]:
tripadvisor_yelp_data_non_dupl = tripadvisor_yelp_data.drop_duplicates(subset=['name', 'latitude', 'longitude'])
tripadvisor_yelp_data_non_dupl.reset_index(drop=True, inplace=True)
tripadvisor_yelp_data_non_dupl

,id,name,reviews,rating,price_range,is_sponsored,latitude,longitude,has_delivery,is_premium,cuisines,reviews_per_rating,diets,dining_options
0,2418348,Leicester Arms,602,4.5,$$ - $$$,True,51.510597,-0.137677,False,False,"['British', 'Pub']","{'1': 30, '2': 23, '3': 51, '4': 156, '5': 342}","['Vegetarian friendly', 'Gluten free options']","['Reservations', 'Seating', 'Street Parking', ..."
1,26452946,Swiss Butter,182,4.0,$$ - $$$,True,51.520620,-0.122808,False,True,"['French', 'Steakhouse']","{'1': 21, '2': 15, '3': 14, '4': 22, '5': 110}",[],"['Seating', 'Wheelchair Accessible', 'Serves A..."
2,25151198,Florattica Rooftop Bar London,316,4.5,$$ - $$$,False,51.512955,-0.075292,False,True,"['Bar', 'European', 'British', 'Healthy', 'Din...","{'1': 15, '2': 4, '3': 7, '4': 11, '5': 279}",[],"['Reservations', 'Outdoor Seating', 'Seating',..."
3,2213156,The Black Dog Freehouse,733,4.5,$$ - $$$,False,51.488724,-0.120889,False,False,"['Bar', 'British', 'Pub']","{'1': 19, '2': 23, '3': 47, '4': 216, '5': 428}","['Vegetarian friendly', 'Vegan options', 'Glut...","['Reservations', 'Outdoor Seating', 'Seating',..."
4,27930238,Fitz's Brasserie,48,5.0,$$ - $$$,False,51.522408,-0.124933,False,False,"['Steakhouse', 'British', 'Contemporary']","{'1': 0, '2': 1, '3': 1, '4': 2, '5': 44}",['Vegetarian friendly'],"['Reservations', 'Seating', 'Wheelchair Access..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10434,MF6Xwxep-fx_WfjpR-hmRQ,The Quince Tree,22,4.4,£££,NaN,51.522522,-0.184909,NaN,NaN,"[{'title': 'Cafes', 'url': 'https://yelp.co.uk...",NaN,NaN,NaN
10435,V4RBUciS7AjpqkFVMtnpAQ,CLAW,5,4.6,£,NaN,51.512658,-0.136573,NaN,NaN,"[{'title': 'Seafood', 'url': 'https://yelp.co....",NaN,NaN,NaN
10436,nkI2QsxFA4eDf2iplUDpkw,Flying Horse,11,3.9,££,NaN,51.516510,-0.130739,NaN,NaN,"[{'title': 'Pubs', 'url': 'https://yelp.co.uk/...",NaN,NaN,NaN
10437,MhTjD-ikP48Uqe9LascWPg,Fitous Thai Restaurant,8,4.3,£,NaN,51.522057,-0.226599,NaN,NaN,"[{'title': 'Thai', 'url': 'https://yelp.co.uk/...",NaN,NaN,NaN
10438,rkcEjJ3uvbL40Wd-Xufsdg,Don Pepe,6,4.3,NaN,NaN,51.523600,-0.174362,NaN,NaN,"[{'title': 'Spanish', 'url': 'https://yelp.co....",NaN,NaN,NaN

In [19]:
tripadvisor_yelp_data_non_dupl[['name', 'latitude', 'longitude']].duplicated().sum()

0

# **Приводим данные в столбцах в нормальный вид**

Столбцы `cuisines`, `reviews_per_rating`, `diets`, `dining_options` содержат списки, словари и списки словарей.

In [29]:
import re

In [44]:
def process_columns(text):
  if isinstance(text, str):
    # Убираем скобки и кавычки
    text = text.replace("[", "").replace("]", "").replace("'", "").replace("{", "").replace("}", "")

    # Убираем url и оставляем только значение после title
    if "title:" in text:
        text = text.split("title: ")[1].split(",")[0]  # Извлечение значения после title до первой запятой

  return text

In [43]:
copy_tripadvisor_yelp_data_non_dupl = tripadvisor_yelp_data_non_dupl.copy()

# Список столбцов, к которым нужно применить функцию
columns_to_process = ['cuisines', 'diets', 'dining_options']

# Применение функции к каждому столбцу в списке
for col in columns_to_process:
    copy_tripadvisor_yelp_data_non_dupl[col] = copy_tripadvisor_yelp_data_non_dupl[col].apply(process_columns)

copy_tripadvisor_yelp_data_non_dupl

,id,name,reviews,rating,price_range,is_sponsored,latitude,longitude,has_delivery,is_premium,cuisines,reviews_per_rating,diets,dining_options
0,2418348,Leicester Arms,602,4.5,$$ - $$$,True,51.510597,-0.137677,False,False,"British, Pub","{'1': 30, '2': 23, '3': 51, '4': 156, '5': 342}","Vegetarian friendly, Gluten free options","Reservations, Seating, Street Parking, Televis..."
1,26452946,Swiss Butter,182,4.0,$$ - $$$,True,51.520620,-0.122808,False,True,"French, Steakhouse","{'1': 21, '2': 15, '3': 14, '4': 22, '5': 110}",,"Seating, Wheelchair Accessible, Serves Alcohol..."
2,25151198,Florattica Rooftop Bar London,316,4.5,$$ - $$$,False,51.512955,-0.075292,False,True,"Bar, European, British, Healthy, Dining bars","{'1': 15, '2': 4, '3': 7, '4': 11, '5': 279}",,"Reservations, Outdoor Seating, Seating, Serves..."
3,2213156,The Black Dog Freehouse,733,4.5,$$ - $$$,False,51.488724,-0.120889,False,False,"Bar, British, Pub","{'1': 19, '2': 23, '3': 47, '4': 216, '5': 428}","Vegetarian friendly, Vegan options, Gluten fre...","Reservations, Outdoor Seating, Seating, Highch..."
4,27930238,Fitz's Brasserie,48,5.0,$$ - $$$,False,51.522408,-0.124933,False,False,"Steakhouse, British, Contemporary","{'1': 0, '2': 1, '3': 1, '4': 2, '5': 44}",Vegetarian friendly,"Reservations, Seating, Wheelchair Accessible, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10434,MF6Xwxep-fx_WfjpR-hmRQ,The Quince Tree,22,4.4,£££,NaN,51.522522,-0.184909,NaN,NaN,Cafes,NaN,NaN,NaN
10435,V4RBUciS7AjpqkFVMtnpAQ,CLAW,5,4.6,£,NaN,51.512658,-0.136573,NaN,NaN,Seafood,NaN,NaN,NaN
10436,nkI2QsxFA4eDf2iplUDpkw,Flying Horse,11,3.9,££,NaN,51.516510,-0.130739,NaN,NaN,Pubs,NaN,NaN,NaN
10437,MhTjD-ikP48Uqe9LascWPg,Fitous Thai Restaurant,8,4.3,£,NaN,51.522057,-0.226599,NaN,NaN,Thai,NaN,NaN,NaN
10438,rkcEjJ3uvbL40Wd-Xufsdg,Don Pepe,6,4.3,NaN,NaN,51.523600,-0.174362,NaN,NaN,Spanish,NaN,NaN,NaN

Разделим столбец `reviews_per_rating` на 5 столбцов:

In [45]:
import ast

In [48]:
def extract_reviews_per_rating(row):
    if isinstance(row, str):  # Проверка, что это строка
        # Преобразуем строку в словарь
        rating_dict = ast.literal_eval(row)
        return pd.Series([rating_dict.get('1', None), rating_dict.get('2', None),
                          rating_dict.get('3', None), rating_dict.get('4', None),
                          rating_dict.get('5', None)])  # Возвращаем серию с 5 оценками
    else:
        return pd.Series([None, None, None, None, None])  # Для NaN возвращаем пустые значения

In [49]:
rating_columns = copy_tripadvisor_yelp_data_non_dupl['reviews_per_rating'].apply(extract_reviews_per_rating)

# Переименовываем столбцы
rating_columns.columns = ['reviews_rating_1', 'reviews_rating_2', 'reviews_rating_3', 'reviews_rating_4', 'reviews_rating_5']

# Объединяем исходный датафрейм с новыми столбцами
copy_tripadvisor_yelp_data_non_dupl = pd.concat([copy_tripadvisor_yelp_data_non_dupl, rating_columns], axis=1)

# Убираем исходный столбец 'reviews'
tripadvisor_yelp_data_1 = copy_tripadvisor_yelp_data_non_dupl.drop(columns=['reviews_per_rating'])

tripadvisor_yelp_data_1

,id,name,reviews,rating,price_range,is_sponsored,latitude,longitude,has_delivery,is_premium,cuisines,diets,dining_options,reviews_rating_1,reviews_rating_2,reviews_rating_3,reviews_rating_4,reviews_rating_5
0,2418348,Leicester Arms,602,4.5,$$ - $$$,True,51.510597,-0.137677,False,False,"British, Pub","Vegetarian friendly, Gluten free options","Reservations, Seating, Street Parking, Televis...",30.0,23.0,51.0,156.0,342.0
1,26452946,Swiss Butter,182,4.0,$$ - $$$,True,51.520620,-0.122808,False,True,"French, Steakhouse",,"Seating, Wheelchair Accessible, Serves Alcohol...",21.0,15.0,14.0,22.0,110.0
2,25151198,Florattica Rooftop Bar London,316,4.5,$$ - $$$,False,51.512955,-0.075292,False,True,"Bar, European, British, Healthy, Dining bars",,"Reservations, Outdoor Seating, Seating, Serves...",15.0,4.0,7.0,11.0,279.0
3,2213156,The Black Dog Freehouse,733,4.5,$$ - $$$,False,51.488724,-0.120889,False,False,"Bar, British, Pub","Vegetarian friendly, Vegan options, Gluten fre...","Reservations, Outdoor Seating, Seating, Highch...",19.0,23.0,47.0,216.0,428.0
4,27930238,Fitz's Brasserie,48,5.0,$$ - $$$,False,51.522408,-0.124933,False,False,"Steakhouse, British, Contemporary",Vegetarian friendly,"Reservations, Seating, Wheelchair Accessible, ...",0.0,1.0,1.0,2.0,44.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10434,MF6Xwxep-fx_WfjpR-hmRQ,The Quince Tree,22,4.4,£££,NaN,51.522522,-0.184909,NaN,NaN,Cafes,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10435,V4RBUciS7AjpqkFVMtnpAQ,CLAW,5,4.6,£,NaN,51.512658,-0.136573,NaN,NaN,Seafood,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10436,nkI2QsxFA4eDf2iplUDpkw,Flying Horse,11,3.9,££,NaN,51.516510,-0.130739,NaN,NaN,Pubs,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10437,MhTjD-ikP48Uqe9LascWPg,Fitous Thai Restaurant,8,4.3,£,NaN,51.522057,-0.226599,NaN,NaN,Thai,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10438,rkcEjJ3uvbL40Wd-Xufsdg,Don Pepe,6,4.3,NaN,NaN,51.523600,-0.174362,NaN,NaN,Spanish,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
tripadvisor_yelp_data_1.dtypes

id                   object
name                 object
reviews               int64
rating              float64
price_range          object
is_sponsored         object
latitude            float64
longitude           float64
has_delivery         object
is_premium           object
cuisines             object
diets                object
dining_options       object
reviews_rating_1    float64
reviews_rating_2    float64
reviews_rating_3    float64
reviews_rating_4    float64
reviews_rating_5    float64
dtype: object

Заполним пропуски в полученных столбцах на `-1` (`0` будет некорректно, т.к. информации нет)

Приведем значения по столбцам к типу `int`

In [56]:
tripadvisor_yelp_data_ready = tripadvisor_yelp_data_1.copy()

cols_to_convert = ['reviews_rating_1', 'reviews_rating_2', 'reviews_rating_3', 'reviews_rating_4', 'reviews_rating_5']

tripadvisor_yelp_data_ready[cols_to_convert] = tripadvisor_yelp_data_ready[cols_to_convert].fillna(-1)
tripadvisor_yelp_data_ready[cols_to_convert] = tripadvisor_yelp_data_ready[cols_to_convert].astype(int)

tripadvisor_yelp_data_ready

,id,name,reviews,rating,price_range,is_sponsored,latitude,longitude,has_delivery,is_premium,cuisines,diets,dining_options,reviews_rating_1,reviews_rating_2,reviews_rating_3,reviews_rating_4,reviews_rating_5
0,2418348,Leicester Arms,602,4.5,$$ - $$$,True,51.510597,-0.137677,False,False,"British, Pub","Vegetarian friendly, Gluten free options","Reservations, Seating, Street Parking, Televis...",30,23,51,156,342
1,26452946,Swiss Butter,182,4.0,$$ - $$$,True,51.520620,-0.122808,False,True,"French, Steakhouse",,"Seating, Wheelchair Accessible, Serves Alcohol...",21,15,14,22,110
2,25151198,Florattica Rooftop Bar London,316,4.5,$$ - $$$,False,51.512955,-0.075292,False,True,"Bar, European, British, Healthy, Dining bars",,"Reservations, Outdoor Seating, Seating, Serves...",15,4,7,11,279
3,2213156,The Black Dog Freehouse,733,4.5,$$ - $$$,False,51.488724,-0.120889,False,False,"Bar, British, Pub","Vegetarian friendly, Vegan options, Gluten fre...","Reservations, Outdoor Seating, Seating, Highch...",19,23,47,216,428
4,27930238,Fitz's Brasserie,48,5.0,$$ - $$$,False,51.522408,-0.124933,False,False,"Steakhouse, British, Contemporary",Vegetarian friendly,"Reservations, Seating, Wheelchair Accessible, ...",0,1,1,2,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10434,MF6Xwxep-fx_WfjpR-hmRQ,The Quince Tree,22,4.4,£££,NaN,51.522522,-0.184909,NaN,NaN,Cafes,NaN,NaN,-1,-1,-1,-1,-1
10435,V4RBUciS7AjpqkFVMtnpAQ,CLAW,5,4.6,£,NaN,51.512658,-0.136573,NaN,NaN,Seafood,NaN,NaN,-1,-1,-1,-1,-1
10436,nkI2QsxFA4eDf2iplUDpkw,Flying Horse,11,3.9,££,NaN,51.516510,-0.130739,NaN,NaN,Pubs,NaN,NaN,-1,-1,-1,-1,-1
10437,MhTjD-ikP48Uqe9LascWPg,Fitous Thai Restaurant,8,4.3,£,NaN,51.522057,-0.226599,NaN,NaN,Thai,NaN,NaN,-1,-1,-1,-1,-1
10438,rkcEjJ3uvbL40Wd-Xufsdg,Don Pepe,6,4.3,NaN,NaN,51.523600,-0.174362,NaN,NaN,Spanish,NaN,NaN,-1,-1,-1,-1,-1

Значения `''` и `None` заменим на `np.nan`

In [52]:
import numpy as np

In [53]:
tripadvisor_yelp_data_final = tripadvisor_yelp_data_ready.replace([None, ''], np.nan)
tripadvisor_yelp_data_final

,id,name,reviews,rating,price_range,is_sponsored,latitude,longitude,has_delivery,is_premium,cuisines,diets,dining_options,reviews_rating_1,reviews_rating_2,reviews_rating_3,reviews_rating_4,reviews_rating_5
0,2418348,Leicester Arms,602,4.5,$$ - $$$,True,51.510597,-0.137677,False,False,"British, Pub","Vegetarian friendly, Gluten free options","Reservations, Seating, Street Parking, Televis...",30,23,51,156,342
1,26452946,Swiss Butter,182,4.0,$$ - $$$,True,51.520620,-0.122808,False,True,"French, Steakhouse",NaN,"Seating, Wheelchair Accessible, Serves Alcohol...",21,15,14,22,110
2,25151198,Florattica Rooftop Bar London,316,4.5,$$ - $$$,False,51.512955,-0.075292,False,True,"Bar, European, British, Healthy, Dining bars",NaN,"Reservations, Outdoor Seating, Seating, Serves...",15,4,7,11,279
3,2213156,The Black Dog Freehouse,733,4.5,$$ - $$$,False,51.488724,-0.120889,False,False,"Bar, British, Pub","Vegetarian friendly, Vegan options, Gluten fre...","Reservations, Outdoor Seating, Seating, Highch...",19,23,47,216,428
4,27930238,Fitz's Brasserie,48,5.0,$$ - $$$,False,51.522408,-0.124933,False,False,"Steakhouse, British, Contemporary",Vegetarian friendly,"Reservations, Seating, Wheelchair Accessible, ...",0,1,1,2,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10434,MF6Xwxep-fx_WfjpR-hmRQ,The Quince Tree,22,4.4,£££,NaN,51.522522,-0.184909,NaN,NaN,Cafes,NaN,NaN,-1,-1,-1,-1,-1
10435,V4RBUciS7AjpqkFVMtnpAQ,CLAW,5,4.6,£,NaN,51.512658,-0.136573,NaN,NaN,Seafood,NaN,NaN,-1,-1,-1,-1,-1
10436,nkI2QsxFA4eDf2iplUDpkw,Flying Horse,11,3.9,££,NaN,51.516510,-0.130739,NaN,NaN,Pubs,NaN,NaN,-1,-1,-1,-1,-1
10437,MhTjD-ikP48Uqe9LascWPg,Fitous Thai Restaurant,8,4.3,£,NaN,51.522057,-0.226599,NaN,NaN,Thai,NaN,NaN,-1,-1,-1,-1,-1
10438,rkcEjJ3uvbL40Wd-Xufsdg,Don Pepe,6,4.3,NaN,NaN,51.523600,-0.174362,NaN,NaN,Spanish,NaN,NaN,-1,-1,-1,-1,-1

In [54]:
tripadvisor_yelp_data_final.dtypes

id                   object
name                 object
reviews               int64
rating              float64
price_range          object
is_sponsored         object
latitude            float64
longitude           float64
has_delivery         object
is_premium           object
cuisines             object
diets                object
dining_options       object
reviews_rating_1      int64
reviews_rating_2      int64
reviews_rating_3      int64
reviews_rating_4      int64
reviews_rating_5      int64
dtype: object

In [55]:
tripadvisor_yelp_data_final.isna().sum()

id                     0
name                   0
reviews                0
rating                 0
price_range          781
is_sponsored         442
latitude              42
longitude             42
has_delivery         442
is_premium           442
cuisines             293
diets               3712
dining_options      1051
reviews_rating_1       0
reviews_rating_2       0
reviews_rating_3       0
reviews_rating_4       0
reviews_rating_5       0
dtype: int64

In [57]:
tripadvisor_yelp_data_final.to_csv('tripadvisor_yelp_data_final.csv', index=False)